
body{
  background-color: rgb(248, 248, 223);
}




.to-do-list{
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1{
  font-size: 4rem;

}



button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 5px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.s ease;
}

.add-button{
  background-color: rgb(28, 199, 28);
}
.add-button:hover{
  background-color: rgb(15, 99, 15);
}

.delet-button{
  background-color: rgb(255, 255, 255);
}
.delet-button:hover{
  background-color: rgb(207, 38, 38);
}

.move-button{
  background-color: rgba(255, 255, 255, 0.856);
}
.move-button:hover{
  background-color: rgb(253, 243, 198);
}

.Edit-button{
  background-color: rgba(250, 250, 250, 0.856);
  padding: 6px 5px;
}
.Edit-button:hover{
  background-color: rgb(158, 153, 134);
}

.save-button{
  font-size: 1.4rem;
  background-color: rgba(67, 184, 21, 0.856);
  padding: 5px 5px;
}

.save-button:hover{
  background-color: rgb(64, 209, 112);
}

input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid color(srgb rgb(173, 168, 168) );
  border-radius: 5px;
  color:hsla(hue, saturation, lightness, 0.5);
}
.edit-input-save{
  font-size: 1.2rem;
  padding: 5px;
  border: 2px solid color(srgb rgb(173, 168, 168) );
  border-radius: 5px;
  color:hsla(hue, saturation, lightness, 0.5);
}

ol{
  padding: 0;
}

li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color:rgb(218, 216, 216);
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text{
  flex: 1;
}

.delet-button, .move-button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}